.product-card {
  transition: all 0.3s ease;
  border-radius: 12px;
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.card-title {
  font-size: 14px;
  font-weight: 600;
}

/* category css */

.category-container {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px;

}
.category-btn{
  white-space: nowrap;
  padding: 8px 15px;
  border-radius: 20px !important;
  cursor: pointer;
  transition: 0.3s;
  background-color: transparent !important;
}
.category-btn-light{
  
  border: 1px solid #FFD700;
 
}
.category-btn-dark{

  border: 1px solid black;
  

}
.category-btn:hover {
  background-color:#FFD700;
  color: white;

}
.light-navbar {
  background-color: rgb(241, 248, 145);
}
.light-sidebar{
  background-color: rgb(241, 248, 145);
}
.light-btn{
  background-color: #FFD700 !important;
  color: white !important;
}
.icon-light {
  color: #FFD700;  /* gold */
}
.icon-dark {
  color: white;
}

.productDetailsBody{
  padding: '30px';
  border-radius: '10px';
}
.product-light{
  background-color: rgb(251, 219, 245);
  color: #FFD700;
}
.product-dark{
  background-color: white;
  color: black;
}